<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de Estacionamiento</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<!-- Hola qué tal, te recuerdo que la web es de uso libre -->
<!-- usala para lo que desees y no olvides suscribirte a AlexCG Design -->

<body>
    <header>
        <div class="textos">
            <h1 class="titulo">Registro de Estacionamiento</h1>
            <!--<h3 class="subtitulo">Desarrollo de sitios web</h3>-->
            <a href="login" class="boton">Iniciar Sesión</a>
        </div>
        
    </header>
    <main>
        <section class="acerca-de">
            
            <div class="contenedor">
                <h2 class="sobre-nosotros">Sobre nosotros</h2>
                <h3 class="slogan">Control de Estacionamiento</h3>
                <p class="parrafo">Somos una organización que controla el estacionamiento de autos en este Super Mercado y por ende nuestro trabajo 
                    es garantizar el control de entrada y salida de autos de este lugar comercial. 
                </p>
                <p class="parrafo">Brindamos todas las seguridad posibles para que usted no se preocupe mientras realiza sus actividades 
                    dentro del Super Mercado.
                </p>
                <a href="/registro" class="boton_registro">Registro</a>
            </div>    
        </section>
      
     
    </main>
    <footer>
        <div class="contenedor">
            
            <h2 class="titulo-footer">Contactanos</h2>
            <h3 class="subtitulo-footer">Lo apreciariamos mucho</h3>
            <div class="footer">
                <form action="/contactanos" method="POST" autocomplete="off">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="email" name="email" id="email" placeholder="Correo">
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono">
                    <input type="text" name="encabezado" id="encabezado" placeholder="Encabezado de la Observación">
                    <textarea name="observaciones" id="observaciones" cols="30" rows="10" placeholder="Observación"></textarea>
                    <button class="btn-enviar" type="submit">Enviar</button>
                    <!--<input type="submit" value="Enviar">-->
                </form>
            </div>
        </div>
    </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Proceso con sweetalert2 -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.35/dist/sweetalert2.all.min.js"></script>
   <% if(alert) { %>
       <script>
           Swal.fire({
               title: '<%= alertTitle %>',
               text:'<%= alertMessage %>',
               icon:'<%= alertIcon %>',
               showConfirmButton: <%= showConfirmButton %>,
               timer: <%= timer %>  
           }).then(()=>{
               window.location = '/<%= ruta %>'
           })
       </script>
   <% } %>

</body>
</html>